.DS_Store

# Coverage directory used by tools like istanbul
coverage
\*.lcov

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# TypeScript cache
\*.tsbuildinfo

# wrangler project
.wrangler